.sidebar{
    .sidebar-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2em 1em;
        border-bottom: 1px solid whitesmoke;
        height: 50px;
        .left{
            display: flex;
            align-items: center;
            justify-content: center;
            h4,p{
                margin:0;
            }
        }
    }
    .sidebar-search{
        display: flex;
        padding : 1.2em;
        background-color: rgb(241, 241, 241);
    }
}