.chat{
    width: 100%;
    background: white;
    font-family: 'DM Sans', sans-serif;
    .temporary-window{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1,p{
            margin: 0em;
        }
        h1{
            color:rgb(94, 94, 94);
        }
        p{
            font-size: 1.2em;
            color:rgb(187, 187, 187);
        }
    }
    
    .main-window{
        display: flex;
        flex-direction: column;
        height: 100%;
        .chat-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5em 1em;
            border-bottom: 1px solid #f3f3f3;
            .left{
                display: flex;
                align-items: center;
                p{
                    margin-left: 0.5em;
                }
            }
            .right{
                width: 100px;
                display: flex;
                justify-content: space-evenly;
                svg{
                    cursor: pointer;
                    font-size: 2em;
                    color: #bbbbbb;
                }
            }
            
        }

        .chat-body{
            flex: 1;
            padding: 1em;
            overflow: auto;
            .message-container{
                position: relative;
                margin-bottom: 2.5em;
                .message{
                    min-width: 100px;
                    width: fit-content;
                    background: #f3f3f3;
                    position: relative;
                    border-radius : 5px;
                    .msg-name{
                        position: absolute;
                        top: -16px;
                        font-size: 0.8em;
                        font-weight: 400;
                        color: grey;
                    }
                    .msg-txt{
                        padding:.5em .8em;
                    }
                }

                .message-self{
                    min-width: 100px;
                    width: fit-content;
                    color: #f3f3f3;
                    background: #6C63FF;
                    position: relative;
                    border-radius : 5px;
                    float: right;
                    .msg-name{
                        position: absolute;
                        top: -16px;
                        font-size: 0.8em;
                        font-weight: 400;
                        color: grey;
                    }
                    .msg-txt{
                        padding:.5em .8em;
                        margin: 0;
                    }
                }

                .msg-time{
                    position: absolute;
                    top: 30px;
                    font-size: 0.6em;
                    color: grey;
                }
            }
        }

        .chat-footer{
            display: flex;
            align-items: center;
            background: #f3f3f3;
            input{
                width: 100%;
                padding: 1.2em;
                font-size: 1.2em;
                font-family: 'DM Sans', sans-serif;
                border: 0px;
                background: #f3f3f3;
                outline: none;
            }
            svg{
                margin: 0 .8em !important;
                font-size: 2em;
                color: #bbbbbb;
            }
        }
    }
}