.auth-body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2,p{
        margin: 5px 0;
        text-align: center;
    }
    h2{
        font-size: 3em;
    }
    p{
        font-size: 1.5em;
    }
    img{
        margin-top: 3em;
    }
}